.header {
    display: flex;
    position: fixed;
    transition: background-color 0.2s;
    width: 100%;
    z-index: 10;
}

.header .logo {
    margin-left: 3.8rem;
    padding-top: 1.6rem;
}

.header_navigation {
    width: 100%;
}

@media screen and (max-width: 1080px){
    .header .logo {
        margin-left: 2.2rem;
        padding-top: 2.0rem;
    }
}